body{
    width: 100%;
    background-color: black;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 30px;
    width: 90%;
}
.left-banner{
    padding-top: 35px;
    width: 30%;
    text-align: center;
    background-image: url(./media/madera1.jpg);
    background-size: cover;
}
.right-banner{
    width: 50%;
    flex-direction: column;
    border-left: 1px solid black;
    margin-left: 5px;
    padding: 50px;
    background-image: url(./media/madera4.jpg);
    background-size: cover;
}
